.sidebar {
    background-color: #1e293b;
    color: #e2e8f0;
    width: 15rem;
    z-index: 11;
    transition: 0.2s;
    @media only screen and (max-width: 1024px) {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
}

.backdrop {
    opacity: 1;
    background-color: rgb(15 23 42 / 0.3);
    z-index: 10;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
}

.closed {
    transform: translateX(-100%);
    transition: 0.2s;
}
